h1  {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

.download {
  color: Aquamarine;
  font-size: 16px;
  text-decoration-line: underline;
}
